* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100%;
}

.Login-form {
  width: 100vw;
  height: 100vh;
  background-color: rgba(251, 251, 251, 0.183);
  justify-content: center;
  display: flex;
  align-items: center;

  .form-container {
    width: 300px;
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 10px;
  }

  .error-text {
    color: red;
  }
}
.App {
  height: 100%;
  width: 100%;

  .Header {
    height: 7%;
    border-bottom: 1px solid grey;
  }
  .Container {
    height: 93%;
    width: 100%;
    background-color: #3f0e40;
    display: flex;
    .containerLeft {
      background-color: #3f0e40;
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: end;
      flex-direction: row-reverse;
    }
    .containerRight {
      border-radius: 8px 0px 0px 0px;
      background-color: #cfe8fc;
      width: 75%;
      height: 100%;

      .userSettings {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

a {
  text-decoration: none;
  color: black;
}
